# .env.example
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/aliflaila?retryWrites=true&w=majority
VITE_SUPABASE_URL=https://xoliigbbygwnjuavmjxe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhvbGlpZ2JieWd3bmp1YXZtanhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyNjQwMjQsImV4cCI6MjA4Nzg0MDAyNH0.u1B36D3OJlsTHGfg4--FMHGQ5e3mhFuq6AEs1L8KlPo
SUPABASE_SERVICE_ROLE_KEY=
